<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-player></app-player>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <app-door-cards></app-door-cards>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <app-combat></app-combat>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <app-level></app-level>
      <br>
      <app-level></app-level>
    </div>
  </div>
</div>
